body {
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.video-container {
    width: 80%; /* Ajusta el ancho según necesites */
    max-width: 800px; /* Límite para pantallas grandes */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: crosshair; /* Indica visualmente que hay interacción */
}

video {
    display: block; /* Evita espacios extra debajo del video */
    width: 100%;   /* Hace que el video ocupe todo el contenedor */
    height: auto;  /* Mantiene la proporción del video */
}